*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* common shred styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.fa-download,.fa-phone {
    padding: 0 10px 0 0;
}
.nav-title{
    color:  #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
    font-size: 45px;        
    font-weight: 800;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 36px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700; 
    border: none;      
}
.btn-secondary{
    background: #FFF8F3;
    color: #FD6E0A;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
}
.max-width{
    width: 1140px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:#757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    padding: 30px 0; 
}
.section-description-container{
    max-width: 909px;
    margin: 0 auto;
}
.about-background{
    border-radius: 10px;
    background: #FFF8F3;
}
.about-padding{
    padding: 130px 0;
}
/* common shred styles */

/* nav related syles */
nav{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin: 0 auto;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    margin-left: 50px;
}
nav a{
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
/* nav related styles */

/* header related styles */
.header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"),url("../images/developer.png");
    background-repeat: no-repeat;
    background-size: auto, contain;
    background-position: bottom right, top left;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 225px;
    margin-top: 50px;
}
.banner-profile-pic{
    width: 500px;
    padding-right: 40px;
}
.banner-greating{
    color: #474747;
    font-size: 45px;
    font-weight: 600; 
}
.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;   
}
.banner-des{
    color:#757575;
    font-size: 18px;
    font-weight: 400;  
    line-height: 30px; 
    padding: 20px 0 30px;
}
/* header related styles */

/* About section styles */
.about{
    padding: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    color:#757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;  
}
.info-description{
    color:#474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
/* About section styles */

/* skills section style */
.what-i-do-section{
    padding-bottom: 130px;
}
.skills-container{
    display: flex;
    gap: 25px;
    justify-content: space-between;
}
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 33px;
}
.skill-title{
    padding: 30px 0 20px 0;
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}
.skill-description{
    color: #757575; 
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
/* skills section style */

/* resume section style */
.resume-column-title{
    color:#474747;
    font-size: 30px;
    font-weight: 700;   
}
.resume-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.resume-column{
    margin-top: 113px;
}
.resume-item{
    padding: 30px 0;
}
.resume-item-title{
    color:#474747;
    font-size: 25px;
    font-weight: 700;   
}
.resume-item-institute{
    color:#757575;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0 20px 0;   
}
.resume-item-des{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;  
}
.btn-container{
    display: flex;
    justify-content: center;
    padding: 30px 0 113px 0;
}
/* resume section style */